*,
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
.layout {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/layout.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.t-layout {
  background-color: rgba(13, 13, 13, 0.934);
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
}

/* header */
.header {
  font-family: "Outfit", sans-serif;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: rgb(13, 13, 13);
  display: flex;
  align-items: center;
  z-index: 10;
}
.logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.logo img {
  width: 40px;
  height: 40px;
}
.logo p {
  color: white;
  font-size: 34px;
}
.nav {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70%;
  height: 100%;
  margin-left: 400px;
  justify-content: space-evenly;
}
.nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.nav li a {
  color: white;
  text-decoration: none;
}
.nav li a:hover {
  cursor: pointer;
  color: rgb(0, 255, 251);
  text-decoration: none;
}

.left-layout {
  background-color: rgba(13, 13, 13, 0);
  position: relative;
  z-index: 1;
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.l-img {
  width: 260px;
  height: 270px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: rgb(0, 255, 251);
  box-shadow: 0px 7px 7px rgb(0, 255, 251);
}
.l-img img {
  top: 107px;
  position: absolute;
  width: 250px;
  height: 350px;
} */
/* 
.l-img {
  width: 260px;
  height: 270px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: rgb(0, 255, 251);
  box-shadow: 0px 7px 7px rgb(0, 255, 251);
} */

.l-img {
  width: 260px;
  height: 270px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0px 7px 7px;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.l-img img {
  top: 107px;
  position: absolute;
  width: 350px;
  height: 370px;
}
.right-layout {
  font-family: "Silkscreen", sans-serif;
  z-index: 1;
  width: 70%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.r-layout {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 85%;
  height: 55%;
  margin-right: 30px;
  flex-direction: column;
  color: white;
  margin: 20px;
  margin-bottom: 60px;
}
.r-layout h5 {
  font-size: 25px;
  margin: 15px;
}
.r-layout h1 {
  margin: 15px;
  font-size: 44px;
}

.h {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  transition: border-bottom-color 0.5s ease; /* Animasi transisi untuk perubahan warna */
}

.h .h5 {
  color: rgb(0, 255, 251);
  font-size: 28px;
}
.sec1 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/layout.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.tentang {
  font-family: "Outfit", sans-serif;
  background-color: rgba(13, 13, 13, 0.934);
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
}
.l-left {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(13, 13, 13, 0.267);
  justify-content: center;
}
/* .l-tnt {
  margin-top: 20px;
  width: 900px;
  height: 400px;
  background-color: rgb(13, 13, 13);
  border-right: solid 4px rgb(0, 255, 251);
  border-bottom: solid 5px rgb(0, 255, 251);
  border-top: solid 1px rgb(85, 255, 252);
  border-left: solid 0.5px rgb(0, 211, 207);
  box-shadow: 5px 5px 6px rgb(53, 53, 53);
  border-radius: 10px 100px 50px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.l-tnt {
  margin-top: 20px;
  width: 900px;
  height: 400px;
  background-color: rgb(13, 13, 13);
  border-right: solid 4px rgb(0, 255, 251);
  border-bottom: solid 5px rgb(0, 255, 251);
  border-top: solid 1px rgb(85, 255, 252);
  border-left: solid 0.5px rgb(0, 211, 207);
  box-shadow: 5px 5px 6px rgb(53, 53, 53);
  border-radius: 10px 100px 50px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* Menambahkan transition untuk animasi warna border */
  transition: border-color 0.5s ease;
}

.l-1,
.l-2,
.l-3,
.l-4,
.l-5 {
  width: 90%;
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  text-align: right;
  border-bottom: 1px solid rgb(32, 31, 31);
}

.l-p1,
.l-p2,
.l-p3,
.l-p4,
.l-p5 {
  width: 27%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.l-p11,
.l-p22,
.l-p33,
.l-p44,
.l-p55 {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50%;
  height: 100%;
}

.r-right {
  background-color: rgba(13, 13, 13, 0.267);
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.r-img {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 255, 251);
  box-shadow: 2px 7px 2px rgb(0, 255, 251);
  border-radius: 10px;
}
.r-img img {
  width: 200px;
  height: 200px;
}
.sec2 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/layout.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.contact {
  font-family: "Silkscreen", sans-serif;
  background-color: rgba(13, 13, 13, 0.934);
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.c-1,
.c-2,
.c-3 {
  width: 250px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(0, 255, 251);
  box-shadow: 3px 4px 4px rgb(0, 255, 251);
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
}
.c-11,
.c-22,
.c-33 {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-111,
.c-222,
.c-333 {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-1 p,
.c-2 p,
.c-3 p {
  color: black;
  font-size: 30px;
}
.c-1 img {
  width: 190px;
  height: 100px;
}
.c-2 img {
  width: 150px;
  height: 150px;
}
.c-3 img {
  width: 100px;
  height: 100px;
}

.sec3 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/layout.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.c-sec3 {
  font-family: "Outfit", sans-serif;
  background-color: rgba(13, 13, 13, 0.934);
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sc1,
.sc2 {
  width: 35%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(0, 255, 251);
  box-shadow: 3px 4px 4px rgb(0, 255, 251);
}
.sc11 {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sec11,
img {
  width: 30px;
  height: 30px;
}
.gr1,
.gr2,
.gr3 {
  width: 3px;
  border-radius: 100px;
  border: solid 2px rgb(0, 255, 251);
  height: 120px;
  background-color: black;
}
.sc111 {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gr11,
.gr22,
.gr33 {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
}
.gr11,
p,
h2,
h5 {
  margin: 5px;
}
.gr22,
p,
h2,
h5 {
  margin: 5px;
}
.gr33,
p,
h2,
h5 {
  margin: 5px;
}

.sc22 {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sec22,
img {
  width: 30px;
  height: 30px;
}
.gr4,
.gr5,
.gr6 {
  width: 3px;
  border-radius: 100px;
  border: solid 2px rgb(0, 255, 251);
  height: 120px;
  background-color: black;
}
.sc222 {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gr44,
.gr55,
.gr66 {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
}
.gr44,
p,
h2,
h5 {
  margin: 5px;
}
.gr55,
p,
h2,
h5 {
  margin: 5px;
}
.gr66,
p,
h2,
h5 {
  margin: 5px;
}
